body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}






.missionstatement {
  color: white;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  border:1px solid white;




}

.logo {
  width:10%;
  border-radius: 2rem;
  float: left;
  box-shadow: 2px 2px 7px black;
  border: 5px solid white;
  margin: 0 0 0rem 1rem;



}






nav {

  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

nav ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}






nav li {
  list-style-type: none;
  padding: 1rem;
}


nav a {
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;
}

nav a:hover {
  color: black;
  background-color: white;
}


